@media (prefers-color-scheme: light) {
  :root {
      --text: #151515;
      --accent: #1688f0;
      --bg-main: #fff;
      --bg-repo: #f0f0f0;
      --bg-user: #f5f5f5;
  }
} 

@media (prefers-color-scheme: dark) { 
  :root {
      --text: #e5e5e5;
      --accent: #1688f0;
      --bg-main: #000;
      --bg-repo: #0f0f1a;
      --bg-user: #0a0a0f;
      --header-shadow:white;
  }
} 


header{  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-main);
  /* color:var(--text); */
  padding: 5px;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(145, 145, 145, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  }

#banner{
    height: 40px;
 } 

nav{
  display: flex;
  align-items: center;
  color:var(--text);
  cursor: pointer;
}

#hamburger-icon {
  display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 15px;
  }  

.menu div{
  margin-right :10px;
  display: block;
  text-decoration: none;
  color: blue;
  opacity: 1;
  font-size: 20px;
  transition: 50ms;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.menu div:hover{
  color: var(--text);
}

body {
  margin-top:100px;
}


@media(max-width:500px){
  body{
    margin-top: 60px;
  }
}




/* small screen */
@media only screen and (max-width: 770px ) {


  
  nav{
    display:flex;
    color:var(--text);
  }

  #hamburger-icon {
    display: block;
    width:40px;
    height:40px;
    float:right;
    padding:5px;   
    background-color:var(--bg-main);
    border:none;
  }

   .hamburger-line {
  display: block;
  width: 20px; 
  height: 2px; 
  background-color: var(--text); 
  margin-bottom: 4px; 
  }
  
  header .menu{
    display:none;
    position:fixed;
    top:65px;
    right:0;
    z-index:2;
    cursor: pointer;
    background-color: var(--bg-main);
    color: var(--text);
    }
  
  .myimages {
  width:100%;
  } 

  
  
     
} /*end of small screen*/



  
 
    
