@media (prefers-color-scheme: light) {
  :root {
      --text: #151515;
      --accent: #1688f0;
      --bg-main: #fff;
      --bg-blocks: #f8f8f8;
      --bg-user: #f5f5f5;
      

  }
} 

@media (prefers-color-scheme: dark) { 
  :root {
      --text: #e5e5e5;
      --accent: #1688f0;
      --bg-main: #000;
      --bg-blocks: #222222;
      --bg-user: #0a0a0f;
      
  }
} 


.body{
  font-family: "Lato", sans-serif;
  background-color: var(--bg-main);
  color: var(--text);
}


.blocks{
  background-color: var(--bg-blocks);
  color: var(--text);
}

.primary{
  color: #009688
}

.bg-main{
  background-color: #009688;
}


h1 {margin:0px;}
h3 {margin-top:0px;}

.grey{
     background-color:#f2f2f2;
  } 



.verflex{
	display:flex;
	align-items:center;
	flex-direction:column;
}

.verflex div{
	margin:10px;
}

.contact{
	margin-top:20px;	
}

.contact img{
	width:20px;
}

.button{
  background-color: #0e4496;
  color:white;
  padding: 2px 5px;
  border-radius: 1rem;
  width:fit-content;
}

.link{
  color:blue;
}






