
header{  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  z-index: 1;
  
     
}

body {
  margin-top:100px;
  background-color: #f5f5f5;
  
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* small screen */
@media only screen and (max-width: 770px ) {

    #hamburger-icon {
	    display: block;
	    width:40px;
	    height:40px;
	    float:right;
	    padding:5px;
	    margin-right: 20px;    
	    background-color:white;
	    border:none;
    }

     .hamburger-line {
    display: block;
    width: 20px; /* Adjust the width as needed */
    height: 2px; /* Adjust the height as needed */
    background-color: #000; /* Adjust the color as needed */
    margin-bottom: 4px; /* Adjust the spacing between lines as needed */
  }

    #logo{
       width:80%;
    }
    

    header .menu{
    display:none;
    position:fixed;
    top:65px;
    right:0;
    z-index:2;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    }
 
   .myimages {
   width:100%;
   } 
 
  
     
} /*end of small screen*/

/* large screen*/
@media only screen and (min-width: 771px ) {


	.menu {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  float: right;
	  margin-right: 25px;
	}

	.menu li {
	  display: inline-block;
	  margin-left: 10px;
	  

	}

	.menu li:first-child {
	  margin-left: 0;
	}


        #hamburger-icon {
        display: none;
        }

        #logo{
        width:50px;
        }

        nav li {
            display: inline-block;
            background-color:white;
         }
         
        
           
           

}/*Large screen^^^^^^*/


	nav li div{
	  display: block;
	  padding: 10px;
	  text-decoration: none;
	  color:blue;
	}
	
	header{
	color:white;
	/*background-color:#2576b0;*/
	padding:10px;
	}
	
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	
	th,
	td {
		padding: 5px;
		text-align: left;
	}





h1 {margin:0px;}
h3 {margin-top:0px;}

.grey{
     background-color:#f2f2f2;
  } 

/*mac card###########################*/

.card-container{
display:flex;
align-items:center;
}

@media only screen and (max-width: 770px ) {
   .card-container{
	display:flex;
	align-items:center;
	flex-direction:column;
}  
   
}

.card {
 width: 300px;
 height: 454px;
 margin:10px auto;
 background-color: #011522;
 border-radius: 8px;
 z-index: 1;
 text-align:center;
 box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}

.card img {
width:10rem;
border-radius:50%;
transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.1);
}

.card .subtitle{
  color:lightgrey;
  margin-top:1rem;
}

.card .title{
  color:white;
  margin-top:1rem;
}

.tools {
 display: flex;
 align-items: center;
 padding: 9px;
}

.circle {
 padding: 0 4px;
}

.box {
 display: inline-block;
 align-items: center;
 width: 10px;
 height: 10px;
 padding: 1px;
 border-radius: 50%;
}

.red {
 background-color: #ff605c;
}

.yellow {
 background-color: #ffbd44;
}

.green {
 background-color: #00ca4e;
}

